body{

margin:0;

font-family:Arial;

overflow:hidden;

}

#menu{

height:100vh;

background:#4bb7ff;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

#menu h1{

color:white;

}

.secim{

display:flex;

gap:20px;

}

.secim button{

padding:20px;

font-size:25px;

border:none;

border-radius:15px;

}

#yazi{

color:white;

}

#basla{

margin-top:30px;

padding:20px;

font-size:25px;

border:none;

border-radius:15px;

}

#oyun{

display:none;

position:relative;

width:100vw;

height:100vh;

background:#87ceeb;

overflow:hidden;

}

#zemin{

width:100%;

height:100px;

background:green;

position:absolute;

bottom:0;

}

#karakter{

width:80px;

height:120px;

position:absolute;

bottom:100px;

left:70px;

font-size:70px;

display:flex;

justify-content:center;

align-items:center;

background:none;

z-index:2;

}

#engel{

width:50px;

height:120px;

background:red;

position:absolute;

bottom:100px;

right:-100px;

}

#skor{

position:absolute;

top:20px;

left:20px;

font-size:30px;

font-weight:bold;

}

#ziplaBtn{

position:absolute;

bottom:30px;

right:30px;

padding:20px;

font-size:20px;

border:none;

border-radius:20px;

}
#oyun{

display:none;

position:relative;

width:100vw;

height:100vh;

background:#87ceeb;

overflow:hidden;

}

#menu{

display:flex;

height:100vh;

background:#4bb7ff;

flex-direction:column;

justify-content:center;

align-items:center;

}