body{

background:#87ceeb;

text-align:center;

font-family:Arial;

}

.secim{

display:flex;

justify-content:center;

gap:30px;

}

.kart{

cursor:pointer;

}

.kart img{

width:180px;

height:220px;

object-fit:cover;

border-radius:20px;

}

#oyun{

display:none;

width:900px;

height:400px;

background:green;

margin:auto;

position:relative;

overflow:hidden;

}

#karakter{

width:80px;

height:120px;

position:absolute;

bottom:0;

left:100px;

background-size:cover;

}

.engel{

width:40px;

height:70px;

background:red;

position:absolute;

bottom:0;

right:-40px;

animation:engel 2s infinite linear;

}

@keyframes engel{

from{

right:-40px;

}

to{

right:1000px;

}

}